

body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Home image(section1) section */
#sectionOne {
    background-image: url("https://scontent.fcai21-1.fna.fbcdn.net/v/t1.15752-9/262132189_2695910817371687_6364716803543546954_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=ae9488&_nc_ohc=K6ZnCr60bJUAX8X6tfo&_nc_ht=scontent.fcai21-1.fna&oh=08f9dce7bbfcd7d45c9db094db158a10&oe=61C9A684");
    width: 100%;
    height: 88vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    display: flex;
}

#sectionOne div {
    background-color: rgba(225, 255, 255, 0.6);
    width: 600px;
    height: 250px;
    font-size: 22px;
    text-align: left;
    margin: auto;
    padding: 15px 20px; 
}

#sectionOne button {
    padding: 7px 20px;
    font-size: 18px;
    background-color: #0054A6;
    border: #0054A6;
    color: white;
}

#sectionOne h1 {
    font-size: 35px;
    font-weight: 500;
}

