
.container{
    max-width:1170px;
    background-color:white;
    margin:auto;

}
row{
    display:flex;
    flex-wrap:wrap;

}
ul{
    list-style:none;
}

.footer{
background-color:white;
padding:70px 0;


}
.footer-col{
    
width:25%;
padding:0 15px;
position:relative;
left:500px;
bottom:100px

}
.footer-col h4{
    font-family:open sans;
    font-size:18px;
    color:black;
    text-transform:capitalize;
    margin-bottom:30px;
    font-weight:200px;

}

.footer-col ul li a{
    text-decoration:none;
    transition:all 0.3s ease;
      color:black;
   
}
.social{
    width:25%;
padding:0 15px;
position:relative;
left:800px;
bottom:200px
}
.social h4{
    font-family:open sans;
    font-size:18px;
    color:black;
    text-transform:capitalize;
    margin-bottom:30px;
    font-weight:200px;

}

.socialmedia{
    position:relative;
    bottom:20px;
    
}

.social.socialmedia .instagram{
    position:relative;
    right:13px;
}
div.logo img{
    height: 300px;
    width: 300px;
    position:relative;
    left: 0;
    top: 150px;
    border-radius: 0px;
    
}

.footer-col ul li a:hover{
    color:#7c7a7a;
    padding-left:10px;
}